@font-face {
    font-family: 'Ithaca Regular';
    src: url('fonts/Ithaca.ttf');
    font-weight: bold;
    
}

body {
    background: url('images/backgrounds/background2.png'); /* изображение фона */
    background-size: 21%; /* подстраиваем размер фона под размер экрана */
    background-repeat:repeat;
}

.container {
    position: absolute; /* абсолютное позиционирование */
    top: 50%; /* сдвигаем контейнер на 50% от верха */
    left: 50%; /* сдвигаем контейнер на 50% от левого края */
    transform: translate(-50%, -50%); /* центрируем контейнер */
    width: 800px; /* ширина рабочей зоны */
    height: 600px; /* высота рабочей зоны */
}

.box1, .box2, .box_zaglushka {
    position: absolute; /* абсолютное позиционирование */
    background-image: url('images/tiles/tile-wood.svg'); /* текстура второго прямоугольника */
    //background: #000000;
    background-repeat: true;
    border:32px solid transparent;
    border-image: url('images/tiles/tiles-main-2.svg');
    border-image-slice: 32; /* координаты для нарезки SVG-текстуры */
    border-image-repeat: round; /* повторение контура */
}

.box1 {
    left: 0px; /* сдвигаем первый прямоугольник на 4 пикселя от левого края */
    width: 192px; /* ширина первого прямоугольника */
    height: 536px; /* высота первого прямоугольника */
}

.namebox {
}

.textbox {
    text-align: center;
    width: 512px; /* ширина первого прямоугольника */
    position: absolute;
    top: 35%;
    left: 16.5%;

    font-family: 'Ithaca Regular';
    color: #000;
    font-size:24px;
    text-shadow: initial;
    text-shadow: 
        0 0 4px #FFF,
        0 0 4px #FFF,
        0 0 4px #FFF,
        0 0 4px #FFF; /* Параметры тени */
}

.box2 {
    left: 258px; /* сдвигаем второй прямоугольник на 272 пикселя от левого края */
    width: 468px; /* ширина второго прямоугольника */
    height: 536px; /* высота второго прямоугольника */
}

.box_zaglushka {
    left: 0px; /* сдвигаем первый прямоугольник на 4 пикселя от левого края */
    width: 736px; /* ширина первого прямоугольника */
    height: 536px; /* высота первого прямоугольника */
}
