#main {
    width                   : 640px;
    height                  : 480px;
    /* background-color        : #ff0000; */
    display                 : flex;
}


.box {
    background          : #272E33;
    border              : 2px   solid     #4F5B58;
    box-shadow          : inset     0 2px #9DA9A0;
    padding             : 4px;
    margin              : 2px;
}

.link {
}

.link:hover {
    background          : #4F5B58;
    border              : 2px   solid     #9DA9A0;
}

.links-row {
    display             : flex;
    flex-direction      : row;
    justify-content     : center;
}

#left-side {
    width               : 200px;
    height              : 100%;
    /* background          : url(images/closet/left-side.png); */
    display             : inline-block;
    image-rendering     : pixelated;
}

#middle-side {
    width               : 440px;
    height              : 100%;
    /* background          : url(images/closet/middle.png); */
    display             : flex;
    display             : inline-block;
    image-rendering     : pixelated;
}

/* #right-closet { */
/*     width               : 96px; */
/*     height              : 100%; */
/*     /* background          : url(images/closet/right-side.png); */ */
/*     display             : inline-block; */
/*     image-rendering     : pixelated; */
/* } */

#avatar {
    display             : flex;
    justify-content     : center;
    image-rendering     : pixelated;
}

#label {
    width               : 184px;
    height              : 80px;
    display             : flex;
    justify-content     : center;
    image-rendering     : pixelated;
}

#links {
    width               : 100%;
    vertical-align      : middle;
    image-rendering     : pixelated;
}

#footer {
    display             : flex;
    flex-direction      : row;
}

#badges {
    width               : 100%;
    height              : 64px;
    image-rendering     : pixelated;
}

#fediring {
    width               : 54px;
    height              : auto;
    image-rendering     : pixelated;
}

